<div class="container" fxFlexFill [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Mushroom classifier</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">
      <mat-nav-list *ngIf="!this.authenticationService.isLoggedIn()">
        <a mat-list-item routerLink="/sign-in" routerLinkActive="active">Sign-in</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="this.authenticationService.isLoggedIn()">
        <a mat-list-item routerLink="/mushroomClassifier" routerLinkActive="active">Classify a mushroom</a>
      </mat-nav-list>
        <!-- Second dashboard list item is just to fit the sidebar for all pages (ugly)-->
        <mat-nav-list style="visibility: hidden;">
          <a mat-list-item routerLinkActive="active">Classify a mushroom</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
