<div class="container" fxFlexFill [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name"></h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">
      <div fxFlexFill fxLayout="column" fxFlexFill fxLayoutAlign="start">
        <mat-nav-list fxFlex *ngIf="this.authenticationService.isLoggedIn()">
          <a mat-list-item routerLink="/mushroomClassifier" routerLinkActive="active">Classify a mushroom</a>
          <a mat-list-item routerLink="/mushroomHistory" routerLinkActive="active">Classifikation history</a>
        </mat-nav-list>
        <mat-nav-list fxFlex fxLayoutAlign="start end" *ngIf="this.authenticationService.isLoggedIn()">
          <a mat-list-item (click)="logout(); snav.close()">Logout</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
