/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@import './customTheme.scss';

.bg-green {
  background: mat-color($mat-green, 400) !important;
}

// turns app-root to fullscreen
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-card {
  max-width: 400px;
}

.example-header-image-mushroomOne {
  background-image: url('assets/image/mushroomsOne.jpg');
  background-size: cover;
}