
<div class="container w-100" fxLayout="row" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxFlex fxLayoutAlign="end">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-mushroomOne"></div>
      <mat-card-title>Classify</mat-card-title>
      <mat-card-subtitle>... your mushrooms</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Simply input your 23 paramater and your mushroom is classified in seconds!
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="openDialog()">START</button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxFlex fxLayoutAlign="start center">
</div>

